{% assign total_words = 0 %}
{% for post in site.posts %}
{% assign words = post.content | strip_html | number_of_words: 'auto' %}
{% assign total_words = total_words | plus: words %}
{% endfor %}

{% assign sorted = site.posts | sort: "last_modified_at" | reverse %}
{% assign latest = sorted | first %}

<section>
    <h2 class="panel-heading">{{- site.data.locales[include.lang].panel.site-statistics -}}</h2>
    <div class="post-statistics mb-4 p-3 rounded shadow-sm bg-light">
        <ul class="list-unstyled mb-0">
            <li class="text-truncate lh-lg">📝 {{- site.data.locales[include.lang].panel.article-count -}}: {{ site.posts | size }} {{- site.data.locales[include.lang].panel.article-num -}}</li>
            <li class="text-truncate lh-lg">🔠 {{- site.data.locales[include.lang].panel.article-words -}}: {{ total_words }} {{- site.data.locales[include.lang].panel.article-word -}}</li>
            <li class="text-truncate lh-lg">🕒 {{- site.data.locales[include.lang].panel.last-update -}}: {{ latest.last_modified_at | default: latest.date | date: "%Y-%m-%d %H:%M:%S" }}</li>
        </ul>
    </div>
</section>